*{
	padding: 0;
	margin: 0;
}
html,body{
	background: #f2f2f2;
	height: 100%;

}
header{
	background: url("../img/bg_bird.jpg") no-repeat;
	height: 100%;
	background-position: top center;
	/*Dejar en memoria del navegador*/
	background-attachment: fixed; 
	background-size: cover;
	background-color: #999;
}
header h1{
	font-family: 'Josefin Slab', serif;
	color: #f2f2f2;
	padding: 1em;
}

header h1 span.slogan {
	font-size: 0.6em;
	color: #cccccc;	
}

nav{
	width: 25%;
	float: right;
	margin-right: 3em;

}
nav a{
	display: block;
	text-decoration: none;
	background: rgba(255,255,255,0.05);
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	letter-spacing: 2.5px;
	font-size: 1.2em;
	padding: 5px 10px;
	margin-top: 2px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
nav:hover a{

	color: transparent;
	text-shadow: 1px 1px 10px orange;
}
nav a:hover{
	background: transparent;
	color: #c4d85a;
	text-shadow: 1px 1px 10px rgba(71,80,23,0.6);
}
header nav a.first{
	-webkit-border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}
header nav a.end{
	-webkit-border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}
main{
	width: 90%;
	margin: 0 auto;
}
main .space{
	padding: 10em 0;
}
footer{
	background: #000;
	color: #333;
	padding:  3em 0;
	text-align: center;
}
footer h6 a{
	text-decoration: none;
}

form {
	padding: 2em;
}
.label-nombre, .label-cedula, .label-email, .label-adress, .label-tipo, .label-motivo{
	display: block;
	margin-top: 1em;
	font-size: 0.9em;
	color: #666;
}
input[type=text], input[type=number], input[type=email], .textarea, select , button{

	width: 400px;
	padding: 0.5em 1em;
	border-radius: 5px;
	border: 1px solid #2D882D;
	background-color: rgba(0, 0, 0, 0.1);
}
select{
	width: 32em;
}
button {
	width: 32em;
	border: 0px solid #666;
	margin-top: 1em;
	background: #2D882D;
	color: #f3f3f3;
	text-transform: uppercase;
}


/**Media Queries**/
/**
* 480 smartphone
* 800 tablets
* 1024 ordenador
**/
@media screen and (max-width: 800px) {
	header h1{
		text-align: center;
	}
	header{
		text-align: center;
	}
	header nav{
		display: block;
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	header nav a{
		display: inline-block;
		padding: 5px 10px;
	}
	header nav a.first{
		border-radius: 0 0;
	}
	header nav a.end{
		border-radius: 0 0;
	}
}

@media screen and (max-width: 480px){
	header h1{
		display: block;
	}

	header nav{

		text-align: center;
		width: 100%;
		margin: 0 auto;
		float: none;
	}
	header nav a{
		display: block;
	}
	h1{
		font-size: 2em;
	}
	input[type=text], input[type=number], input[type=email], .textarea, select , button{

		width: 250px;
		float: none;
	}
}

